#witch {
	display: none;
}
#start {
	width: 100%;
}
body {
	margin: 0;
	display: inline-flex;
	height: 100vh;
	width: 100%;
    align-items: center;
    justify-content: space-evenly;	
}

#container {
	height: 100%;
	width: 50%;
	background-color: black;
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
}
/* hard coded bruh */
#witchSprite{
	margin-right: 25%;
}
/* responsive */
@media screen and (max-width: 1000px) {
  #container {
    width: 100%;
  }
	#witchSprite{
		display: none;
	}  
}
